# Common
*.log
*.swp
.DS_Store
.idea/
.vscode/
*.iml
*.bak
*.tmp
*.orig
*~
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Angular specific
/node_modules
/dist
/.angular/cache
/browser
/server
/.env

# Spring Boot specific
/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*

# IDE specific
.idea
*.iws
*.ipr
*.iml
.classpath
.project
.settings/
bin/
.factorypath
.springBeans

# Environment files
.env
application.properties
application-dev.properties
application-prod.properties

# Build files
*.factorypath
*.project
*.class
*.jar
*.war
*.ear

# Database files
*.db
*.sql
/h2-db/

# Documentation
/docs/
*.pdf
*.doc
*.docx